/******************************************************************************/

/* General-Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
  color: var(--page-text-color);
  background-color: var(--page-background-color);

  --main-color: aquamarine;
  --gradient-color: white;
  --nav-hover: rgb(110, 235, 190);
  --nav-active: aquamarine;
  --link-color: black;
  --page-background-color: white;
  --page-text-color: black;
  --selection-background-color: aquamarine;
  --selection-text-color: black;
  --seperator-color: aquamarine;
  --hire-me-color: rgb(98, 200, 165);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --main-color: aquamarine;
    --gradient-color: rgb(31, 28, 28);
    --nav-hover: rgb(90, 170, 150);
    --nav-active: rgb(69, 141, 117);
    --link-color: white;
    --page-background-color: rgb(31, 28, 28);
    --page-text-color: white;
    --selection-background-color: rgb(90, 170, 150);
    --selection-text-color: black;
    --seperator-color: rgb(69, 141, 117);
    --hire-me-color: rgb(69, 141, 117);
  }
}

::selection {
  background-color: var(--selection-background-color);
  color: var(--selection-text-color);
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: var(--link-color);
}

/******************************************************************************/

/* Specific-Styling */

.header {
  padding: 3.5rem 1rem;
  padding-top: 4rem;
  text-align: center;
  background-image: linear-gradient(var(--main-color), var(--gradient-color));
  position: relative;
}

.heading-group {
  font-size: 3.5rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
  position: relative;
  top: -1.8rem;
}

.profession::after {
  content: "👨‍🎓⛰️🏁";
}

.hire-me {
  position: absolute;
  border-radius: 0.25rem;
  background-color: var(--hire-me-color);
  padding: 0.5rem;
  right: 1rem;
  top: 1rem;
  opacity: 0.5;
  transform-origin: top right;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.header:hover .hire-me,
.header:focus-within .hire-me {
  opacity: 1;
  transform: scale(1.5);
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.25s ease-in-out;
}

.nav-link:hover {
  background-color: var(--nav-hover);
}

.nav-link:active {
  background-color: var(--nav-active);
}

.nav-link:focus {
  outline-style: groove;
}

.nav-link + .nav-link {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
    margin-top: 0rem;
  }
}

.main {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 100ch;
  }
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 6rem;
  }

  .main > *:first-child {
    margin-top: 4rem;
  }
}

.main > * {
  border-top: 0.25rem solid var(--seperator-color);
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

@media screen and (min-width: 768px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.article-heading {
  position: relative;
  left: -0.75rem;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer {
  padding: 2rem 1rem;
  padding-top: 3rem;
  text-align: center;
  background-image: linear-gradient(var(--gradient-color), var(--main-color));
}
