/******************************************************************************/

/* General-Styling */

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

/******************************************************************************/

/* Specific-Styling */

.header {
  padding: 40px 20px;
  padding-top: 50px;
  text-align: center;
  background-color: lightgray;

  position: relative;
}

.hire-me {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lawngreen;
  padding: 5px;
  right: 16px;
  top: 16px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.main > * + * {
  margin-top: 40px;
}

.nav-link {
  padding: 2px 5px;
  color: black;
}

.nav-link:hover {
  background-color: white;
}

.nav-link:active {
  color: grey;
}

.main > * {
  border-top: 2px solid black;
  padding: 0 16px;
}

.main > *:first-child {
  border-top: none;
}

::selection {
  background-color: black;
  color: white;
}

.profession::after {
  content: "👨‍🎓⛰️🏁";
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.heading {
  position: relative;
  right: 12px;
}
