/******************************************************************************/

/* General-Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

/******************************************************************************/

/* Specific-Styling */

.header {
  padding: 3.5rem 1rem;
  padding-top: 4rem;
  text-align: center;
  background-color: lightgray;
  position: relative;
}

.hire-me {
  position: absolute;
  border: 0.15rem solid black;
  border-radius: 0.5rem;
  background-color: aquamarine;
  padding: 0.5rem;
  right: 1rem;
  top: 1rem;
}

.heading-group {
  font-size: 3.5rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
  position: relative;
  top: -1.8rem;
}

.main {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

.nav-link {
  padding: 0.3rem 0.5rem;
  color: black;
  border: 0.15rem solid black;
  border-radius: 0.5rem;
}

.nav-link:hover {
  background-color: aquamarine;
}

.nav-link:active {
  color: grey;
}

.main > * {
  border-top: 0.25rem solid dimgrey;
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

::selection {
  background-color: aquamarine;
  color: black;
}

.profession::after {
  content: "👨‍🎓⛰️🏁";
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.heading {
  position: relative;
  right: 0.75rem;
}
